Memberships
* User should see link for Basic plan on home page
* User should see link for Pro plan on home page
* Basic plan link should point to regular devise sign up form
    * User will go to regular devise sign up form with embedded basic plan param
* Pro plan link should point to custom sign up form
    * User will go to custom devise form through embedded pro plan param
    
Stripe Integration
* Users should have a stripe customer token in the users table
* Javascript should prevent Pro form from submitting when user fills it out,
and should send card info to stripe
    * Stripe will return with a card token
* Javascript will should send user fields and card token to our rails app
    * Rails app should validate the user fields
        * Rails app will note the user fields are valid and whether plan 1 or 2
* Once validated, Rails should send user info (email, plan id) and card token to
Stripe server
    * Stripe will create a subscription and send back customer token
    *   Rails should save customer token and user information to our DB